div {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: aqua;
  height: 30%;
  width: 100%;
}

.orange {
  background-color: orange;
  height: 50%;
  width: 20%;
}

main {
  background-color: red;
  height: 50%;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

nav {
  background-color: black;
}

.purple {
  background-color: purple;
  height: 50%;
  width: 20%;
}

footer {
  background-color: blue;
  height: 20%;
  width: 100%;
  
}

nav {
  background-color: black;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}